.banner {
  background-color: #12161b;
  border-bottom: 1px solid $gray-700;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;

    h1 {
      font-size: 2rem;
    }

    .subtitle {
    }
  }
}
