.list {
  padding: 1.5rem 0;

  .list-group-item {
    background-color: inherit;
    color: inherit;
    border-color: $gray-500;
  }

  .react-loading-skeleton {
    height: 4rem;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    background-color: #12161b;

    .filters {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    .btn-dark {
      background-color: inherit;
      border: 0;
    }

    .btn-outline-light {
      border-color: $gray-500;
    }
    .left {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    .right {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .dropdown-menu {
      .input-container {
        border: solid 1px $gray-600;
      }

      .form-control {
        background-color: #12161b;
        margin: 0.5rem;
        color: $gray-300;
        border: solid 1px $gray-600;
        border-radius: 0.4rem;
      }

      background-color: #0a0e12;
      color: $gray-300;

      .dropdown-item {
        color: $gray-300;
        border: solid 1px $gray-600;
        font-size: 0.8rem;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
