.list {
  padding: 1.5rem 0;

  .list-group-item {
    background-color: inherit;
    color: inherit;
    border-color: $gray-500;
  }
  .react-loading-skeleton{
    height: 4rem;
  }

  .header {
    display: flex;

    .filters {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
}